body {
  /* margin: 0; */
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  max-width    : 800px;
  margin       : 0 auto;
  margin-top   : 3rem;
  padding      : 0 1rem;
  border       : 1px solid #ccc;
  border-radius: 8px;
  box-shadow   : rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.formTitle {
  text-align: center;
  margin    : 0;
  padding   : 0;
  color     : #0a5fb4;
}

.sectionLabel {
  font-size     : large;
  margin        : 0;
  padding-bottom: 0.5rem;
  font-weight   : 600;
  color         : #0a5fb4;
}

.sectionBox {
  padding      : 1rem 1rem 0 1rem;
  margin       : 1rem 0;
  border-left  : 3px solid #5aa3ec;
  border-radius: 5px;
  box-shadow   : rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.sectionBox fieldset {
  padding-bottom: 15px;
}

.sectionBox fieldset p.MuiFormHelperText-root {
  position: absolute;
  bottom  : 0;
}

.fieldsBox {
  height: 70px;
}

.buttonBox {
  padding-bottom: 1rem;
}

.errorText {
  color: #d32f2f;
}